.bgImage{
    margin-top: 280px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#lottie{
    position: absolute;
    width: 130%;
    height: auto;
    z-index: -5;
}